*{
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Poppins";
}

:root{
    --cor1: #231123;
    --cor2: #ffe7b7;
}


html{
    font-size: 60%;
    overflow-x: hidden
}

body{
    background-color: var(--cor1);
}


.header{
    position: fixed;
    width: 100%;
    top: 0%;
    padding: 24px;
    background-color: #301830;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-around;
        color: #ffe7b7;


}


.navegar_bar a{
    color: #ffe7b7;
    margin: 14px;
    font-size: 20px;
    font-weight: 1000;
    transition: 0.3s ease-in-out;
    text-decoration: none;

}


section{
    min-height: 100vh;
    padding: 30px;
    
}


.sobremim{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    color: #ffe7b7;
}

.conteudo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 40px;

}

.conteudo h1{
    font-size: 45px;
    font-weight: 700;
    margin-top: 10px;
}

.conteudo h3{
    margin: 0, 5, 10, 10px;
    font-size: 30px;
}

.conteudo p{
    margin: 0, 10, 10, 10px;
    font-size: 20px;
    line-height: 1.8;
    text-align:justify;
}

.foto_perfil img{
    width: 30vw;
    border-radius: 50%;
    box-shadow: 0 0 15px #ffdd99;
    transition: 0.4s ease-in-out;
}
.foto_perfil img:hover{
    box-shadow: 0 0 18px #ffdd99,
                0 0 22px #ffdd99;
}

.icons_redes_socias a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 3px;
    background: transparent;
    border: 2px solid #ffe7b7;
    border-radius: 50%;
    color: #ffe7b7;
    margin: 9px 1px;
    transition: 0.3s ease-in-out ;
    text-decoration: none;
}

.icons_redes_socias a:hover {
    color: white;
    background-color: #231123;
    transform: scale(1.2)translateY(-5px);
    box-shadow: 0 0 25px #231123;

}

.hab_conteudo {
    text-align: center;
    font-size: 21px;
    margin: 50px 0;
}

.habilidades, .projetos{
    background-color: #231123;
    color: #ffdd99;
}

.habilidades h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    font-size: 25px;
}
.habilidades h1, .projetos h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    font-size: 40px;

}

.certificadosss {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 40px;
}

.certificado_box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #301830;
    height: 450px;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.4s ease-in-out;
}

.certificado_box:hover{
    color: #ffdd99;
    background-color: #301830;
    transform: scale(1.13)translateY(3px);

}
.informacao, .projeto_caixinha{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.informacao h3, .projeto_caixinha h3{
    font-size: 15px;
    margin: 8px 0;
    font-weight: 600;
}

.informacao img{
    width: 25vw;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
}
.informacao img:hover{
    width: 28vw;
}

.projetos_box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 20px;
}
.projeto_caixinha{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #301830;
    height: 700px;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.4s ease-in-out;
    
}
.projeto_caixinha p{
    font-size: 25px;
    font-weight: 400;
    text-align: justify;
    margin: 30px;
}

.projeto_caixinha img{
    width: 75%;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.4s ease-in-out;;
}
.projeto_caixinha img:hover{
    transform: scale(1.12)translateY(3px);
}

.link_projeto{
    font-size: 25px;
    width: 250px;
    padding: 20px;
    text-decoration: none;
    color: #ffdd99;
    background-color: #231123;
    border-radius: 30px;
    transition: 0.4s ease-in-out;
}

.link_projeto:hover{
    transform: scale(1.14)translateY(3px);
    box-shadow: 0 3px 10px #ffdd99;
}
