*{
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Poppins";
}

:root{
    --cor1: #231123;
    --cor2: #ffe7b7;
}


html{
    font-size: 60%;
    overflow-x: hidden
}

body{
    background-color: var(--cor1);
}


.header{
    position: fixed;
    width: 100%;
    top: 0%;
    padding: 24px;
    background-color: #301830;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-around;
        color: #ffe7b7;

}

.navegar_bar a{
    color: #ffe7b7;
    margin: 14px;
    font-size: 20px;
    font-weight: 1000;
    transition: 0.3s ease-in-out;
    text-decoration: none;

}


section{
    min-height: 100vh;
    padding: 30px;
    
}


.inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    color: #ffe7b7;
}

.conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px;

}

.conteudo h1{
    font-size: 45px;
    font-weight: 700;
    margin-top: 5px;
}
.conteudo h2{
    font-size: 30px;
    font-weight: 700;

}

.conteudo h3{
    margin: 0, 5, 10, 10px;
    font-size: 30px;
}


.foto_perfil img{
    width: 25vw;
    border-radius: 50%;
    transition: 0.4s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons_redes_socias a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 3px;
    background: transparent;
    border: 2px solid #ffe7b7;
    border-radius: 50%;
    color: #ffe7b7;
    margin: 9px 1px;
    transition: 0.3s ease-in-out ;
    text-decoration: none;
}

.icons_redes_socias a:hover {
    color: white;
    background-color: #231123;
    transform: scale(1.2)translateY(-5px);
    box-shadow: 0 0 25px #231123;

}

.cont_sobremim{
    display: flex;
    flex-direction: column;
    background-color: #301830;
    margin: 100px;
    height: 450px;
    border-radius: 30px;
    gap: 20px;
}
.cont_sobremim p{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 20px;
    font-size: 22px;
    line-height: 1.8;
    text-align:justify;
    color: #ffdd99;
}

.comp_proj h1{
    margin: 50px;
    font-size: 45px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffdd99;

}

.comp_proj_boxes{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 25px;
    gap: 100px;
}
.comp_proj_boxes h2{
    font-size: 30px;
    color: #ffdd99;

}

.comp_proj_boxes p{
    margin-top: 40px;
    font-size: 28px;
    color: #ffe7b7;
}

.comp_proj_boxes a{
    margin-top: 80px;
    cursor: pointer;
    font-size: 25px;
    width: 150px;
    padding: 20px;
    text-decoration: none;
    color: #ffdd99;
    background-color: #231123;
    border-radius: 30px;
    transition: 0.4s ease-in-out;
}


.comp_proj_boxes a:hover{
    transform: scale(1.12)translateY(3px);
    color: #301830;
    background-color: #ffdd99;
}

.competencias_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #301830;
    height: 380px;
    border-radius: 30px;
    width: 450px;
    
}


.proj_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #301830;
    height: 380px;
    border-radius: 30px;
    width: 450px;
    
}

.comp_conteudo {
    text-align: center;
    font-size: 21px;
    margin: 50px 0;
}

.competencias, .projetos{
    background-color: #231123;
    color: #ffdd99;
}

.competencias h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    font-size: 20px;
}
.competencias h1, .projetos h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    font-size: 35px;

}

.certificadosss {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 40px;
}

.certificado_box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #301830;
    height: 400px;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.4s ease-in-out;
}

.certificado_box:hover{
    color: #ffdd99;
    background-color: #301830;
    transform: scale(1.13)translateY(3px);

}
.informacao, .projeto_caixinha{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.informacao h3, .projeto_caixinha h3{
    font-size: 15px;
    margin: 8px 0;
    font-weight: 600;
}

.informacao img{
    width: 25vw;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
}
.informacao img:hover{
    width: 28vw;
}

.projetos_box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 20px;
}
.projeto_caixinha{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #301830;
    height: 700px;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.4s ease-in-out;
    
}
.projeto_caixinha p{
    font-size: 25px;
    font-weight: 400;
    text-align: justify;
    margin: 30px;
    
}

.projeto_caixinha img{
    width: 75%;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.4s ease-in-out;;
    margin-bottom: 15px;
}
.projeto_caixinha img:hover{
    transform: scale(1.12)translateY(3px);
}

.link_projeto{
    cursor: pointer;
    font-size: 25px;
    width: 250px;
    padding: 20px;
    text-decoration: none;
    color: #ffdd99;
    background-color: #231123;
    border-radius: 30px;
    transition: 0.4s ease-in-out;
}

.link_projeto:hover{
    transform: scale(1.12)translateY(3px);
    color: #301830;
    background-color: #ffdd99;
}

.contato{
    background-color: #231123;
}

.contato h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    font-size: 40px;
    color: #ffdd99;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

form .input-infos{
    display: flex;
    flex-direction: column;
    align-items: baseline; 
}

#form-contato span{
    color: #ffdd99;
    font-size: 22px;
}

form input{
    width: 500px;
    font-size: 15px ;
    padding: 12px  20px;
    border-radius: 10px;
    border: none;
    outline: none;
}

form input:focus{
    background-color: #ffe7b7 ;
}

.contato .botao{
    font-size: 25px;
    width: 100px;
    padding: 17px;
    text-decoration: none;
    color: #231123;
    background-color: #ffdd99;
    border-radius: 30px;
    border: none;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}
.contato .botao:hover{
    transform: scale(1.12)translateY(3px);
    color: #ffdd99;
    background-color: #301830;
    border: none;
}

.form_formatar span{
    display: flex;
    align-items: flex-start;
    margin: 5px;
}
